ul.navbar li /* Important part */
{
    display:inline;
    margin: 100px;
    text-align: center;
    backdrop-filter: blur(8px);
    


}

ul.navbar /* Extra part, to style spaces between each item */
{
    
    min-width: 696px;
	padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: aliceblue;
    backdrop-filter: blur(8px);
    background-color: beige;
    border-radius: 15px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 700;


}
body {
    background-image: url("./pictures/money.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: blur(8px);
    height: 720px;
    
    
}
.blur {
    -webkit-filter: blur(6px);
    filter: blur(0px);
}
.title{
  text-align: center;
  backdrop-filter: blur(8px);
}
#calc{
    justify-content: center;
        font-weight: 700;
        margin-left: 650PX;
    }


#inp1{
    height: 35px;
    margin: 23px;
    border-radius: 12px;
    width: 200px;
    background-color: beige;
    text-align: end;

}
#inp2{
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 18px;
    border-radius: 12px;
    width: 200px;
    background-color: beige;
    text-align: end;

}
p{
    margin-left: 300px;
    margin-right: 300px;
}
.linkname{
    text-decoration: none;
    font-size: large;
    color: 	#000000
    ;
}
h2{
    margin-left: 300px;
    
}
.nowhome{
    margin-left: 300px;
    border-color:aliceblue;
    color: #000000;
    font-size: large;
}
#calcButton{
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 12px;
    width: 300px;
    height: 30px;
    background-color: beige;
    font-weight: 700;

}

